@import "../../../Style/designVariables.scss";

.goal-form-container {
    position: absolute;
    width: max-content;
    right: 3rem;
    bottom: 0;
    background-color: white;
    border: 2px solid $border-color;
    border-radius: 1em;
    font-family: $primary-font;
}

form > .goal-creator-submit-btn {
    border-radius: 0.4em;
    padding: 0.5em;
    border: 1px solid $secondary-color;
}


form > .goal-creator-submit-btn:hover {
    background-color: $secondary-color;
}

.goal-creator-title {
    margin-bottom: 0.5em;
}