@import "../../Style/variables";

.navbar-container {
  background-color: $primary-color;
  color: $text-color;
  font-family: $regular-font-2;
}

.nav-item .nav-link,
.nav-item .nav-link:focus {
  color: $text-color;
}

.nav-item .nav-link:hover {
  color: $accent-color;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.navbar-toggler {
  color: $text-color;
  border-color: $text-color;
}

.logo-img {
  width: 2.5rem;
}

.logo-text {
  color: $text-color;
  font-size: 1.5rem;
  font-family: $regular-font-1;
}

.piggybank {
  margin: 0.2em;
}
