@import "../../../Style/variables";

.login-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100%;
}

.login-content {
  background-color: $background-color;
  flex: 1;
  color: $text-color;
}
