@import "../../Style/designVariables";

.home-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100%;
}

.home-content {
  background-color: $background-color;
  flex: 1;
  color: $text-color;
}

.feature-item {
  font-family: $primary-font;
  background-color: $border-color;
  padding: 2rem;
  border-radius: 15px;
}

.lead-text {
  font-family: $primary-font;
  font-size: larger;
}

div .home-btn:hover {
  border-color: $primary-color;
  background-color: $primary-color;
  color: white;
}

div > .home-btn {
  border: 2px solid $primary-color;
}