@import "../../Style/variables";

.carousel {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.carousel-inner {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 400px !important;
  margin: auto;
}

.c-item {
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.carousel-text-content {
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  background-color: $transparent-div !important;
  color: $text-color !important;
  border-radius: 10px;
  padding: 10px;
}
