@import "../../Style/designVariables";

.achievement-container {
    display: flex;
    flex-direction: column;
}
 .achievement-content {
    position: relative;
     background-color: white;
     color: $text-color;
 }

 .achievement-content .border {
    border: 2px solid $secondary-color;
    border-radius: 1rem;
    margin: 0.3em;
    height: 9em;
    width: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    font-family: $primary-font;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.achievement-content .border:hover {
    background-color: $secondary-color;
}

.achievement-content .progress {
    margin-bottom: 10px;
}

.achievement-content .progress .progress-bar {
    background-color: $secondary-color;
}

.user-achievement-container {
    margin-left: 5em;
    margin-right: 5em;
}

.achievement-title {
    font-family: $primary-font;
}