$primary-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$regular-font-1: "Montserrat", sans-serif;
$regular-font-2: "Lato", sans-serif;
$regular-font-3: "Roboto", sans-serif;
$accent-color: rgb(255, 102, 0);
$text-color: white;