$primary-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$regular-font-1: "Montserrat", sans-serif;
$regular-font-2: "Lato", sans-serif;
$regular-font-3: "Roboto", sans-serif;
$background-color: #0c181f;
$primary-color: #053b50;
$secondary-color: #176b87;
$accent-color: #64ccc5;
$text-color: #eeeeee;
$transparent-div: rgba(50, 39, 65, 0.211);
