$primary-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$regular-font-1: "Montserrat", sans-serif;
$regular-font-2: "Lato", sans-serif;
$regular-font-3: "Roboto", sans-serif;
$title-font: "Pacifico", cursive;
$background-color: #ffffff;
$primary-color: #1A936F;
$secondary-color: #88D498;
$third-color: #C6DABF;
$accent-color: #F7B2AD;
$text-color: #041B15;
$shadow-color: rgba(163, 179, 168, 0.445);
$border-color: #1a936f88;
$transparent-div: rgba(50, 39, 65, 0.211);